/*########################################################################
                        PAGE GENERIQUE
##########################################################################*/

html, body {
  width: 100%;
  height:100%;
}


.navbar {
  height: 4em;
}

#menu{
  max-height: calc(100% - 4em);
  flex: 1;
  display: flex;
}


#bloc_page{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


/*##########################################
        NAVBAR - HEADER
############################################*/

.header{
  background-color : #B9CBD8;
}

#logo{
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 200px;
}

.nav_icone{
  margin: 0 1em;
}

.inline-icon{
text-align: right;
}

.input-group{
  margin: 0 auto;
}

.nav-link:hover{
  color: #afc6ea;
}


/*##########################################
        NAVBAR - sider
############################################*/

.sidebar{
  background-color: #363B3B;
  min-width: 220px;
  color: #fff;
  overflow: hidden;
}


.nav-link {
  display:flex;
  align-items: center;
  width: 100%;
  box-sizing: content-box;
  font-size: 17px;
  color: #fff;
  padding: 0.5em 1rem;
  text-align: center;
} 


.nav-item{
    padding: 0.5em 1rem;
  text-align: center;
}

.sub-item{
    margin-left: -1em;
    color: #fff;
}

ul{
    list-style:none;
}

.nav-icon{
  margin-right: 0.8em;
  height: 20px; 
  font-size: 13px;
}



.navbar-nav .nav-item .nav-link .badge {
  top: 0.3rem;
  font-weight: 400;
  font-size: 0.5rem;
  color: #fff;
  padding: 0.2em;
}

.sidebar .nav-item .nav-link span {
  display: block;
}

span{
  font-size: 15px;
}



/*##########################################
        Content Page
############################################*/

#content{
  display: flex;
  flex-direction: column;
  flex:1;
  max-height: 100%;
}

#middle{
  display: flex;
  flex:1;
   max-height: calc(100% - 3em);
}

#content-data{
  flex: 1;
  margin: 1em;
  max-height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.scroller{
  height: 100%;
  flex : 1;
  width:100%;
  overflow: auto;
}

/* customize scrollbar css */
#content-data::-webkit-scrollbar{
  width:10px;
  background-color:#cccccc;
  border-radius:10px;
}
#content-data::-webkit-scrollbar:horizontal{
  height:12px;

}
#content-data::-webkit-scrollbar-track{
  border-radius:10px;
  -webkit-box-shadow:0 0 6px #c8c8c8 inset;
}
#content-data::-webkit-scrollbar-thumb{
  background-color: #7BDC88;
  border-radius:16px;
}
#content-data::-webkit-scrollbar-thumb:hover{
  background-color: #7BDC88;

}
#content-data::-webkit-scrollbar-thumb:active{
  background-color: #7BDC88;
}


#right_sider{
  right: 0;
  width: 300px;
  height: 95%;
  margin: auto 0;
  border-left: solid 1px;
  display: flex;
  flex-direction: column;
}

#notifications{
  flex:1;
  display:flex;
  flex-direction: column;
}

#statistiques{
  flex: 1;
  display:flex;
  flex-direction: column;
  text-align: center;
  padding: 1em;
}

.sider_icone{
  width: 50px;
  height: 50px;
  margin: auto;
}

.positif{
  color: #109B10;
  font-weight: bold;
}

.negatif{
  color: #E61E1E;
  font-weight: bold;
}

.title_table{
  color:#9E6524;
  margin-left: 2em;
}

.adder{
  width: 100%;
  max-height : 50px;
  margin-bottom: 0.5em ;
  text-align: right;
   padding: 10px;
}

.adder-img{
  height: 30px;

}

.info{
  width: 85%;
  padding: 5px 15px;
  margin: 5px auto;
  background-color: #F5F5DC;
  border-radius: 3px;
  vertical-align: middle;
}

.marge{
  float:right;
}

.perso{
  display: flex;
  width: 85%;
  font-size: 35px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 0.5em;
}

.inactif{
  font-size: 35px;
}

.bloc-btn{
  padding: 1em 01em 1em;
  text-align: right;
  width: 90%;
  margin: 0 auto;
}

.bloc-btn button{
  margin: 0 1em;
}

.span-space{
  margin: 0 2em;
}

.collum-dir{
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

.inside-class{
  display: flex;
  flex: 1;
  align-items: center;
}

#topper{
  background-size: cover;
  margin-bottom: 1em;
  max-width: 550px;
  height: 100px;
  border-radius: 20px;
  display: flex;
  opacity: 0.80;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2);
}

.topper-text{
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  margin: auto;
}

#notifications{
  text-align: center
}

/*  ------------ Footer ------------------ */

.sticky-footer{
  max-width: 100%;
  height: 3em;
  max-height: 3em;
  min-height:3em;
  background-color: #dddddd;
  padding: 0.8em 0;
  display: flex;
}

.foot-link{
  padding: 0 2em;
  flex : 1;
}

  .foot-link > a{
    margin: 0 1.5em;
  }

.media {
  float: right;
}
  .github > img, .facebook > img{
    height: 30px;
  }






/*##########################################
        Animation Chargement
############################################*/


#floatingCirclesG{
  position:relative;
  width:125px;
  height:125px;
  margin:auto;
  transform:scale(0.6);
    -o-transform:scale(0.6);
    -ms-transform:scale(0.6);
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
}

.f_circleG{
  position:absolute;
  background-color:rgb(255,255,255);
  height:15px;
  width:15px;
  border-radius:12px;
    -o-border-radius:12px;
    -ms-border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
  animation-name:f_fadeG;
    -o-animation-name:f_fadeG;
    -ms-animation-name:f_fadeG;
    -webkit-animation-name:f_fadeG;
    -moz-animation-name:f_fadeG;
  animation-duration:1.2s;
    -o-animation-duration:1.2s;
    -ms-animation-duration:1.2s;
    -webkit-animation-duration:1.2s;
    -moz-animation-duration:1.2s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#frotateG_01{
  left:0;
  top:51px;
  animation-delay:0.45s;
    -o-animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -moz-animation-delay:0.45s;
}

#frotateG_02{
  left:15px;
  top:15px;
  animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
}

#frotateG_03{
  left:51px;
  top:0;
  animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}

#frotateG_04{
  right:15px;
  top:15px;
  animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#frotateG_05{
  right:0;
  top:51px;
  animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}

#frotateG_06{
  right:15px;
  bottom:15px;
  animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#frotateG_07{
  left:51px;
  bottom:0;
  animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}

#frotateG_08{
  left:15px;
  bottom:15px;
  animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}



@keyframes f_fadeG{
  0%{
    background-color:rgb(0,0,0);
  }

  100%{
    background-color:rgb(255,255,255);
  }
}

@-o-keyframes f_fadeG{
  0%{
    background-color:rgb(0,0,0);
  }

  100%{
    background-color:rgb(255,255,255);
  }
}

@-ms-keyframes f_fadeG{
  0%{
    background-color:rgb(0,0,0);
  }

  100%{
    background-color:rgb(255,255,255);
  }
}

@-webkit-keyframes f_fadeG{
  0%{
    background-color:rgb(0,0,0);
  }

  100%{
    background-color:rgb(255,255,255);
  }
}

@-moz-keyframes f_fadeG{
  0%{
    background-color:rgb(0,0,0);
  }

  100%{
    background-color:rgb(255,255,255);
  }
}



/*########################################################################
                           PAGES SPECIFIQUES
##########################################################################*/


/*########################
        Arboresences
##########################*/

.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0;
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0;
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}

/*########################
       Modify
##########################*/

.modal-dialog{
  max-width: 600px;
}

.modal-open{
  padding: 0em;
}

.form-check-inline{
  margin-bottom: 1em;
}

.form-inline{
  flex: 1;
}

.inline-icon{
  width: 200px;
}

.assoc_icone{
  width: 30px;
  height: 30px;
  margin: 10px 1em ;
}

.custom-select{
  margin-bottom: 1em;
}

.modal {
  overflow-y:auto;
}


/*########################
       selecteur
##########################*/

.list{
  display: flex;
  flex-direction: column;
  padding: 0;
}



/*########################
       Tables
##########################*/


.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: 1em;
  padding:5px;
  width: 95%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

.table thead th{
  border: none;
}
 
th {
  color:#D5DDE5;;
  background:#3b434f;
  border-right: 1px solid #343a45;
  font-size:15px;
  padding: 10px 17px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:10px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding: 3px 10px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:15px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}



/*########################################################################
                          alertes
##########################################################################*/

.alert{
  position: fixed;
  bottom: 3em;
  left: 220px;
  margin: 1em;
}

/*########################################################################
                          Querries
##########################################################################*/

/* ---------   Width Responsive   --------------- */

@media screen and (max-width: 1000px) {
  #right_sider{
    display: none;
  }
}

@media screen and (max-width: 740px) {
  .form-inline{
    display: none;
  }

  .media{
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .sidebar{
    display: none;
 
}


@media screen and (max-width: 450px) {

  #logo{
    display: none;
  }

   .title_table{
    font-size:15px;
  }

  th {
    color:#D5DDE5;;
    background:#3b434f;
    border-right: 1px solid #343a45;
    font-size:10px;
    padding: 10px 17px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }

  tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#666B85;
    font-size:10px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }

  td {
    background:#FFFFFF;
    padding: 3px 10px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:10px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
  }

  td .btn{
    padding:0;
    font-size:10px;
  }


  #middle{
    max-height: none;
  }

  .scroller{
    overflow: visible; 
  }

  .sticky-footer{
    font-size: 10px;
    padding: 2em 0;
    bottom: 0;
  }

  #content-data.scrollbar{
    margin:1em 0;
  }

  .table-fill{
    margin: 0.2em;
  }
}


/* ---------   Width Responsive   --------------- */

@media screen and (max-height: 550px) {
  .alert{
    position: relative;
    bottom: 0;
    left: 0;
  }

  #right_sider{
    display: none;
  }

  #topper{
    display: none;
  }
  
}